.primary-heading {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--color-text-primary);
  font-size: 1.125rem;
}
